.navbar-nav li{
    padding: 1.1rem;

}
 .nav-link{
     font-size: 1.1rem;
     font-weight: 600;
 }
 .navbar-brand{
     font-weight: 1000;
 }
 
 .nav-link:hover{
     border-bottom: .1rem solid rgba(137, 187, 37, 0.867);
 }